<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Username</key>
	<string>actomacruz</string>
	<key>Password</key>
	<string>Password1</string>
	<key>Host</key>
	<string>api.brandx.dev.voyager.ph</string>
	<key>Port</key>
	<string>1883</string>
</dict>
</plist>
